<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="IWErpnextPoll" Language="1033" Version="1.4.6" Manufacturer="IWW" UpgradeCode="ccc3c2fe-d20f-45ce-b978-4dc7c84ce6c8">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="IWERPNextPoll_Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="IWErpnextPoll" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			
			<Component Id="Serilog.dll">
				<File Source="$(var.IWErpnextPoll.TargetDir)Serilog.dll" />
			</Component>
			<Component Id="Serilog.Sinks.File.dll">
				<File Source="$(var.IWErpnextPoll.TargetDir)Serilog.Sinks.File.dll" />
			</Component>
			<Component Id="RestSharp.dll">
				<File Source="$(var.IWErpnextPoll.TargetDir)RestSharp.dll" />
			</Component>
			<Component Id="ProductComponent">
				<File Source="$(var.IWErpnextPoll.TargetPath)" />
				<ServiceInstall Id="ServiceInstaller" Name="IWErpnextPoll" Type="ownProcess" Vital="yes" Description="Custom ERPNext to Sage 50 connector." Start="auto" Account=".\LocalSystem" ErrorControl="normal" Interactive="no" />
				<ServiceControl Id="StartService" Name="IWErpnextPoll" Stop="both" Start="install" Remove="uninstall" Wait="yes" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
